<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galileo Design</title>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin=""/>
  <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"/>
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  <style>
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      background: linear-gradient(45deg, #222222, #000000, #1d1d1d, #000000);
      background-size: 400% 400%;
      animation: gradientAnimation 15s ease infinite;
      color: #fff;
      font-family: Epilogue, "Noto Sans", sans-serif;
    }

    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .relative-position {
      position: relative;
      z-index: 1;
    }

    .gradient-overlay::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      z-index: 1;
    }

    .gradient-overlay .relative-position {
      z-index: 2;
    }
  </style>
</head>
<body>
  <div class="background"></div>
  <div class="relative flex size-full min-h-screen flex-col dark group/design-root">
    <div class="layout-container flex h-full grow flex-col">
      <div class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
          <div class="@container">
            <div class="@[480px]:px-4 @[480px]:py-3">
              <div class="w-full bg-center bg-no-repeat bg-cover flex flex-col justify-end overflow-hidden bg-black @[480px]:rounded-xl min-h-[218px] gradient-overlay relative-position" style='background-image: url("https://cdn.usegalileo.ai/sdxl10/c9c50b6f-b0d2-4074-8a9b-2f6456c347f2.png");'></div>
            </div>
          </div>
          <div class="flex gap-4 py-6 px-4">
            <div class="flex grow basis-0 flex-col items-stretch gap-4">
              <div class="flex h-14 grow items-center justify-center rounded-xl px-3 bg-[#333333]">
                <p id="days" class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">876</p>
              </div>
              <div class="flex items-center justify-center"><p class="text-white text-sm font-normal leading-normal">Days</p></div>
            </div>
            <div class="flex grow basis-0 flex-col items-stretch gap-4">
              <div class="flex h-14 grow items-center justify-center rounded-xl px-3 bg-[#333333]">
                <p id="hours" class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">12</p>
              </div>
              <div class="flex items-center justify-center"><p class="text-white text-sm font-normal leading-normal">Hours</p></div>
            </div>
            <div class="flex grow basis-0 flex-col items-stretch gap-4">
              <div class="flex h-14 grow items-center justify-center rounded-xl px-3 bg-[#333333]">
                <p id="minutes" class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">32</p>
              </div>
              <div class="flex items-center justify-center"><p class="text-white text-sm font-normal leading-normal">Minutes</p></div>
            </div>
            <div class="flex grow basis-0 flex-col items-stretch gap-4">
              <div class="flex h-14 grow items-center justify-center rounded-xl px-3 bg-[#333333]">
                <p id="seconds" class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">13</p>
              </div>
              <div class="flex items-center justify-center"><p class="text-white text-sm font-normal leading-normal">Seconds</p></div>
            </div>
          </div>
          <div class="relative flex items-center justify-center bg-black aspect-video rounded-xl overflow-hidden">
            <video id="videoPlayer" class="w-full h-full object-cover" poster="/static/17.jpg">
                <source src="/static/17.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <button id="playButton" class="absolute flex items-center justify-center rounded-full size-16 bg-black/40 text-white">
                <svg id="playIcon" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M240,128a15.74,15.74,0,0,1-7.6,13.51L88.32,229.65a16,16,0,0,1-16.2.3A15.86,15.86,0,0,1,64,216.13V39.87a15.86,15.86,0,0,1,8.12-13.82,16,16,0,0,1,16.2.3L232.4,114.49A15.74,15.74,0,0,1,240,128Z"></path>
                </svg>
                <svg id="pauseIcon" class="hidden" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M96,224a16,16,0,0,1-16-16V48a16,16,0,0,1,32,0V208A16,16,0,0,1,96,224ZM176,48V208a16,16,0,0,1-32,0V48a16,16,0,0,1,32,0Z"></path>
                </svg>
            </button>
        </div>
        
        <script>
            const video = document.getElementById("videoPlayer");
            const playButton = document.getElementById("playButton");
            const playIcon = document.getElementById("playIcon");
            const pauseIcon = document.getElementById("pauseIcon");
        
            playButton.addEventListener("click", () => {
                if (video.paused) {
                    video.play();
                } else {
                    video.pause();
                }
            });
        
            video.addEventListener("play", () => {
                playIcon.classList.add("hidden");
                pauseIcon.classList.remove("hidden");
            });
        
            video.addEventListener("pause", () => {
                playIcon.classList.remove("hidden");
                pauseIcon.classList.add("hidden");
            });
        </script>
        
          <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/1.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">January 1, 2020</p>
                <p class="text-white text-sm font-normal leading-normal">Happy New Year!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/2.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">February 14, 2020</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Valentine's Day!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/3.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">March 17, 2020</p>
                <p class="text-white text-sm font-normal leading-normal">Happy St. Patrick's Day!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/4.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">May 5, 2020</p>
                <p class="text-white text-sm font-normal leading-normal">Cinco de Mayo</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/5.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">June 30, 2020</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Birthday!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/6.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">August 20, 2020</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Anniversary!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/7.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">September 22, 2020</p>
                <p class="text-white text-sm font-normal leading-normal">First day of Fall</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/8.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">November 11, 2020</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Thanksgiving!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/9.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">January 1, 2021</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Holidays!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/10.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">February 14, 2021</p>
                <p class="text-white text-sm font-normal leading-normal">Merry Christmas!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/11.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">March 17, 2021</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Easter!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/12.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">May 5, 2021</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Independence Day!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/13.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">June 30, 2021</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Halloween!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/14.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">August 20, 2021</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Hanukkah!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/15.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">September 22, 2021</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Mother's Day!</p>
              </div>
            </div>
            <div class="flex flex-col gap-3 pb-3">
              <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl gradient-overlay relative-position" style='background-image: url("/static/16.jpg");'></div>
              <div>
                <p class="text-white text-base font-medium leading-normal">November 11, 2021</p>
                <p class="text-white text-sm font-normal leading-normal">Happy Father's Day!</p>
              </div>
            </div>
          </div>
          <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
            <label class="flex flex-col min-w-40 flex-1">
              <textarea
                placeholder="Add a note..."
                class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#1a1a1a] bg-[#333333] focus:border-[#1a1a1a] min-h-36 placeholder:text-gray-500 p-[15px] text-base font-normal leading-normal"
              ></textarea>
            </label>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    // Set the date we're counting down to
    const countDownDate = new Date("Jan 17, 2024 18:54:00").getTime();
  
    // Update the count down every 1 second
    const x = setInterval(function() {
  
      // Get today's date and time
      const now = new Date().getTime();
  
      // Find the distance between now and the count down date
      const distance = now - countDownDate;
  
      // Time calculations for days, hours, minutes and seconds
      const days = Math.floor(distance / (1000 * 60 * 60 * 24));
      const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
      // Display the result in the respective elements
      document.getElementById("days").innerHTML = days;
      document.getElementById("hours").innerHTML = hours;
      document.getElementById("minutes").innerHTML = minutes;
      document.getElementById("seconds").innerHTML = seconds;
  
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("days").innerHTML = "0";
        document.getElementById("hours").innerHTML = "0";
        document.getElementById("minutes").innerHTML = "0";
        document.getElementById("seconds").innerHTML = "0";
      }
    }, 1000);
  </script>