<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900" />
    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body class="relative flex size-full min-h-screen flex-col dark group/design-root overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col w-2/3">
                <div class="flex w-full p-4 justify-start">
                    <p class="text-white tracking-light text-[32px] font-bold leading-tight w-full text-left">10/10/2024 kinda twinning</p>
                </div>
                <div class="flex w-full p-4 justify-start">
                    <div class="note typewriter text-white" id="note">
I have so many dreams of us together, and each one makes me smile
like an idiot just thinking about it. I want to walk in the snow with
you, our fingers intertwined, leaving soft footprints behind as the
cold air turns our breaths to mist. I want us to stargaze at 3 AM,
lying in the grass, lost in deep conversation about everything and
nothing at the same time.

But beyond the little moments, I dream of something even bigger—I
want us to be successful together. Not just you thriving, not just
me, but us. Side by side, growing, achieving, and building something
beautiful. And somewhere in between all of this, I see us traveling,
getting lost in new places, maybe even Japan in the winter—watching
the snow fall in a city that feels like a dream. A trip where it’s
just us, just our little world, and nothing else matters.

I don’t know exactly where life will take us, but I know one thing
for sure—I want to experience it all with you.



                        <span id="cursor" class="cursor"></span>
                    </div>
                </div>
              
            </div>
            <h1 class="note-title text-white text-3xl font-bold">A Future with You</h1>

            <div class="layout-content-container flex flex-col w-1/3">
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
                  <div class="flex flex-col gap-3">
                    <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl" style='background-image: url("/static/33333.jpg");'></div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    
</body>
</html>