<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900" />
    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body class="relative flex size-full min-h-screen flex-col dark group/design-root overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col w-2/3">
                <div class="flex w-full p-4 justify-start">
                    <p class="text-white tracking-light text-[32px] font-bold leading-tight w-full text-left">Notfffe</p>
                </div>
                <div class="flex w-full p-4 justify-start">
                    <div class="note typewriter text-white" id="note">
But today, I want to thank you for something that touched my heart in a
way nothing else ever has. When you gifted me that stuffed toy—the one I
named after you—it wasn’t just a gift, it was a piece of you, something
that made me feel warm, safe, and incredibly loved in every possible way.

No one had ever given me a stuffed toy before, and the moment I held it,
my cheeks hurt from smiling too much. It was like holding a piece of pure
happiness in my hands, something so simple yet filled with deep meaning.

And then there were the roses. The first flowers I ever received. I still
have them, dried but forever preserved, sitting on my work table as a sign
of the love and thoughtfulness you bring into my life every single day.

These may have been simple gestures to you, but to me, they were truly
everything. They made me feel cherished in a way I can't even put into
words. Thank you for making me feel so special. Thank you for being you.

                        <span id="cursor" class="cursor"></span>
                    </div>
                </div>
              
            </div>
            <div class="layout-content-container flex flex-col w-1/3">
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
                  <div class="flex flex-col gap-3">
                      <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl" style='background-image: url("https://cdn.usegalileo.ai/sdxl10/59680912-48ab-4af1-a033-6a88c41bdce8.png");'></div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <h1 class="note-title text-white text-3xl font-bold">There are a million things I could thank you for</h1>

</body>
</html>