<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900" />
    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body class="relative flex size-full min-h-screen flex-col dark group/design-root overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col w-2/3">
                <div class="flex w-full p-4 justify-start">
                    <p class="text-white tracking-light text-[32px] font-bold leading-tight w-full text-left">Notfffe</p>
                </div>
                <div class="flex w-full p-4 justify-start">
                    <div class="note typewriter text-white" id="note">
IISF—it wasn’t just a science festival for me. It was the place that
gifted me you. More than an event, it was the start of something I
never knew I needed. That place will always hold meaning because it
brought you into my life in a way nothing else ever could have.

But if I had to pick another special place? It would be your arms. As
cheesy as it sounds, there’s nowhere I feel safer, calmer, or happier.
That’s the one place I could stay forever, the one place that always
feels like home, no matter what kind of day I’ve had before that.

And then there’s Mr. DIY—our first date. That day was special, not
because of where we were, but because of how we were together in that
moment. Holding your hand, wrapping my arm around your waist for the
first time—I was blushing like crazy, but I loved every second of it.

That place will always remind me of that feeling, of us, and of how I
fell for you even more, how each second with you became something I’d
never want to trade for anything else in this entire world.
                        <span id="cursor" class="cursor"></span>
                    </div>
                </div>
              
            </div>
            <div class="layout-content-container flex flex-col w-1/3">
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
                  <div class="flex flex-col gap-3">
                      <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl" style='background-image: url("https://cdn.usegalileo.ai/sdxl10/59680912-48ab-4af1-a033-6a88c41bdce8.png");'></div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <h1 class="note-title text-white text-3xl font-bold">A Place That Holds Meaning</h1>

</body>
</html>