<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link rel="stylesheet" as="style" onload="this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Epilogue%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900" />
    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body class="relative flex size-full min-h-screen flex-col dark group/design-root overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col w-2/3">
                <div class="flex w-full p-4 justify-start">
                    <p class="text-white tracking-light text-[32px] font-bold leading-tight w-full text-left">11/10/2024 garba or not we happy </p>
                </div>
                <div class="flex w-full p-4 justify-start">
                    <div class="note typewriter text-white" id="note">
Whenever life feels overwhelming, I want you to remember that I am always
by your side, no matter what happens, no matter how lost you may feel. No
matter how stressed, tired, or defeated you are, you are never truly alone.

I’m here—not just to listen, but to hold you, to remind you that you are so
strong, capable, and endlessly loved beyond what words could ever explain.
No matter what anyone says, no matter what obstacles life throws your way,
I will never be disappointed in you, no matter what happens in the future.
You don’t have to prove anything to me—I’m already proud of you, always,
in every single way, through every high and low, through every little thing.
So when the weight of the world feels too much, come to me and lean on me,
cry if you need to, talk to me, let me remind you of how strong you are.

Let me remind you how far you’ve come, how much brighter the world feels
because you're in it, how much I love you, and how I’ll always be here.

Yours truly, always.



                        <span id="cursor" class="cursor"></span>
                    </div>
                </div>
              
            </div>
            <div class="layout-content-container flex flex-col w-1/3">
              <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
                  <div class="flex flex-col gap-3">
                    <div class="w-full bg-center bg-no-repeat aspect-[3/4] bg-cover rounded-xl" style='background-image: url("/static/1010.jpg");'></div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <h1 class="note-title text-white text-3xl font-bold">On the Tough Days</h1>

</body>
</html>